<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Enchère</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="vendors/feather/feather.css">
    <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css">
    <!-- inject:css -->
    <link rel="stylesheet" href="css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="images/" />
</head>

<body>
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="container-scroller">
            <form style="text-align: center;" action="" method="POST">
                <div>
                    <label for="">Pseudo :</label>
                    <input name="pseudo" value="root" placeholder="votre pseudo" class="form-control" type="text">
                </div>
                <div>
                    <label for="">Mot de passe :</label>
                    <input name="mdp" value="root" placeholder="votre mot de passe" class="form-control" type="password">
                </div>
                <div style="margin-top: 5%;">
                    <input class="btn btn-primary" type="submit">
                </div>
            </form>
        </div>
    </div>
</body>

</html>