<section id="main-content" th:fragment="statistique">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Skydash Admin</title>
        <!-- plugins:css -->
        <link rel="stylesheet" href="../../vendors/feather/feather.css">
        <link rel="stylesheet" href="../../vendors/ti-icons/css/themify-icons.css">
        <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
        <!-- endinject -->
        <!-- Plugin css for this page -->
        <!-- End plugin css for this page -->
        <!-- inject:css -->
        <link rel="stylesheet" href="../../css/vertical-layout-light/style.css">
        <!-- endinject -->
        <link rel="shortcut icon" href="../../images/favicon.png" />
    </head>
    <h3 style="text-align: center;">STATISTIQUES</h3>
    <div class="row">
    <div class="col-md-4 mb-3 stretch-card transparent">
      <div class="card card-tale">
        <div class="card-body">
          <p class="mb-4">Chiffre d'affaire moyenne</p>
          <p class="fs-30 mb-2" th:text="${jour}"></p>
          <p>Par jour</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3 stretch-card transparent">
      <div class="card card-dark-blue">
        <div class="card-body">
          <p class="mb-4">Chiffre d'affaire moyenne</p>
          <p class="fs-30 mb-2" th:text="${mois}"></p>
          <p>Par mois</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3 stretch-card transparent">
      <div class="card card-light-blue">
        <div class="card-body">
          <p class="mb-4" >Chiffre d'affaire moyenne</p>
          <p class="fs-30 mb-2" th:text="${jour}"></p>
          <p>Par an</p>
        </div>
      </div>
    </div>
  </div>
    <!-- partial -->
    <div class="row">
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Catégories les plus enchérisés</h4>
                    <i onclick="downEncheriser()" class="mdi mdi-arrow-down"></i>
                    <i onclick="downRapporter()" class="mdi mdi-arrow-up"></i>
                    <canvas id="lineChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Catégories qui rapportent le plus</h4>
                    <i class="mdi mdi-arrow-down"></i>
                    <i class="mdi mdi-arrow-up"></i>
                    <canvas id="barChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Area chart</h4>
                    <canvas id="areaChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Doughnut chart</h4>
                    <canvas id="doughnutChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 grid-margin grid-margin-lg-0 stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Pie chart</h4>
                    <canvas id="pieChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-6 grid-margin grid-margin-lg-0 stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Scatter chart</h4>
                    <canvas id="scatterChart"></canvas>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <!-- container-scroller -->
        <!-- plugins:js -->
        <script src="../../vendors/js/vendor.bundle.base.js"></script>
        <!-- endinject -->
        <!-- Plugin js for this page -->
        <script src="../../vendors/chart.js/Chart.min.js"></script>
        <!-- End plugin js for this page -->
        <!-- inject:js -->
        <script src="../../js/off-canvas.js"></script>
        <script src="../../js/hoverable-collapse.js"></script>
        <script src="../../js/template.js"></script>
        <script src="../../js/settings.js"></script>
        <script src="../../js/todolist.js"></script>
        <!-- endinject -->
        <!-- Custom js for this page-->
        <script src="../../js/chart.js"></script>
</section>